<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(title='Admin - Categories')}"></head>
<body data-bs-theme="dark">
    <!-- A table of categories with edit and create buttons -->
    <div class="container justify-content-center align-content-center ">
        <div class="row">
            <div class="col">
                <h1>Categories</h1>
            </div>
            <div class="col">
                <a href="/admin/categories/create" class="btn btn-primary">Create Category</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.categoryId}"></td>
                    <td th:text="${category.categoryName}"></td>
                    <td th:text="${category.categoryDescription}"></td>
                    <td>
                        <a th:href="@{'/admin/categories/edit/' + ${category.categoryId}}" class="btn btn-primary">
                            <i class="bi bi-pencil"></i>
                            Edit
                        </a>
                        <a th:href="@{'/admin/categories/delete/' + ${category.categoryId}}" class="btn btn-danger">
                            <i class="bi bi-trash"></i>    
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>    
</body>
</html>