<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(title='Admin - Dashboard')}"></head>

<body data-bs-theme="dark">
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
      </script>
<div class="container-fluid">
  <div class="row">
   
    <div th:replace="~{fragments/header :: sidebar}"></div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <input id="week" type="week" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1" value="2024-W44">
        </input>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="1364" height="576" style="display: block; box-sizing: border-box; height: 460px; width: 1091px;"></canvas>
      <!-- Category wise sales pie chart -->
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Category wise sales</h5>
            </div>
            <div class="card-body">
              <canvas id="categorySalesChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
        <!-- Category wise stock quantity bar chart -->
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Category wise stock quantity</h5>
            </div>
            <div class="card-body">
              <canvas id="categoryStockChart" width="400" height="400"></canvas>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

      <script th:inline="javascript">
        const ctx = document.getElementById('myChart')
        const myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: [
              'Sunday',
              'Monday',
              'Tuesday',
              'Wednesday',
              'Thursday',
              'Friday',
              'Saturday'
            ],
            datasets: [{
              data: [
                15339,
                21345,
                18483,
                24003,
                23489,
                24092,
                12034
              ],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {
              legend: {
                display: false
              },
              tooltip: {
                boxPadding: 3
              },
              title: {
                display: true,
                text: 'Weekly Sales'
              }
            }
          
        })
            
        const categorySalesChart = document.getElementById('categorySalesChart');

        const totalSalesByCategory = /*[[${totalSalesByCategory}]]*/ {};

        const myCategorySalesChart = new Chart(categorySalesChart, {
          type: 'pie',
          data: {
            labels: Object.keys(totalSalesByCategory),
            datasets: [{
              data: Object.values(totalSalesByCategory),
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Category wise sales'
            }
          }
        })

        function getMondayFromWeekNum(weekNum, year) {
          var monday = new Date(year, 0, (1 + (weekNum - 1) * 7));
          while (monday.getDay() !== 1) {
              monday.setDate(monday.getDate() - 1);
          }    
          return monday;
      }

        async function fetchWeeklySales(weekNum, year) {
        const monday = getMondayFromWeekNum(weekNum, year);
        const API = `http://localhost:8080/admin/sales/weekly?date=${monday.toISOString().split('T')[0]}`;
        const response = await fetch(API);
        const data = await response.json();
        return data;
      }

        const week = document.getElementById('week')
        week.addEventListener('change', (event) => {
          const [year, weekNum] = event.target.value.split('-W');
          fetchWeeklySales(weekNum, year).then((data) => {
            labels = [];
            dataPoints = [];
            for (key in data) {
              var date = new Date(key);
              labels.push(date.toLocaleDateString());
              dataPoints.push(data[key]);
            }
            myChart.data.labels = labels;
            myChart.data.datasets[0].data = dataPoints;
            myChart.update();
          });
        })

        data = fetchWeeklySales(44, 2024).then((data) => {
          labels = [];
          dataPoints = [];
          for (key in data) {
            var date = new Date(key);
            labels.push(date.toLocaleDateString());
            dataPoints.push(data[key]);
          }
          
          
          myChart.data.labels = labels;
          myChart.data.datasets[0].data = dataPoints;
          myChart.update();
        });

        const categoryStockChart = document.getElementById('categoryStockChart');
        const stockQuantityByCategory = /*[[${stockQuantityByCategory}]]*/ {};
        const colors = Object.keys(stockQuantityByCategory).map(() => getRandomColor());        


        const myCategoryStockChart = new Chart(categoryStockChart, {
          type: 'bar',
          data: {
            labels: Object.keys(stockQuantityByCategory),
            datasets: [{
              label: 'Stock Quantity',
              data: Object.values(stockQuantityByCategory),
              backgroundColor: colors.map((color) => `rgba(${color[0]}, ${color[1]}, ${color[2]}, 0.2)`),
              borderColor: colors.map((color) => `rgba(${color[0]}, ${color[1]}, ${color[2]}, 1)`),
              borderWidth: 1
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Category wise stock quantity'
            }
          }
        })

        function getRandomColor() {
          var r = Math.floor(Math.random() * 255);
          var g = Math.floor(Math.random() * 255);
          var b = Math.floor(Math.random() * 255);
          return [r, g, b];
        }

       </script>
</body>
</html>