<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(title='Admin - Products')}"></head>
<body data-bs-theme="dark">

    <div class="modal fade" id="productDeletionModal" tabindex="-1" aria-labelledby="productDeletionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Confirm Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete the product : <strong id="productName" >Product Name</strong>?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a id="delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div>   
    <!-- A table of categories with edit and create buttons -->
    <div class="container-fluid justify-content-center align-content-center ">
        <div class="row">

            <div th:replace="~{fragments/header :: sidebar}"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <div class="col">
                            <h1>Products</h1>
                        </div>
                        <div class="col">
                            <a href="/admin/products/create" class="btn btn-primary">Create Product</a>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>MRP</th>
                                <th>Cost Price</th>
                                <th>Category</th>
                                <th>Stock Quantity</th>
                                <th>Manufacturers</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.productId}"></td>
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.maximumRetailPrice}"></td>
                                <td th:text="${product.costPrice}"></td>
                                <td th:text="${product.category.categoryName}"></td>
                                <td th:text="${product.stockQuantity}"></td>
                                <!-- multiple manufacturers -->
                                <td>
                                    <ul>
                                        <li th:each="manufacturer : ${product.manufacturers}">
                                            <span th:text="${manufacturer.manufacturerName}"></span>
                                        </li>
                                    </ul>
                                <td>
                                    <a th:href="@{'/admin/products/update?id=' + ${product.productId}}" class="btn btn-primary">
                                        <i class="bi bi-pencil"></i>
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#productDeletionModal" th:data-bs-id="${product.productId}" th:data-bs-name="${product.productName}">
                                        <i class="bi bi-trash"></i>    
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
            </main>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

                    <script>
                        const modal = document.getElementById('productDeletionModal');
                        modal.addEventListener('show.bs.modal', function (event) {
                            console.log('Modal opened');
                            
                            var button = event.relatedTarget;
                            var productName = button.getAttribute('data-bs-name');
                            var productNameElement = document.getElementById('productName');
                            productNameElement.innerHTML = productName;

                            var del = document.getElementById('delete');
                            var productId = button.getAttribute('data-bs-id');
                            del.href = '/admin/products/delete?id=' + productId;
                        });
                    </script>
</body>
</html>