<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Create a collage of cards that have a picture of a product of that category and a cathphrase and then link to filtered results -->
    <div th:fragment="collage" class="d-flex flex-row justify-content-evenly">
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top w-100" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 1</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x500" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 2</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 3</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/600x300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 4</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section class="d-flex gap-1">
                    <div class="card">
                        <img src="https://placehold.co/300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 5</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                   
                    <div class="card">
                        <img src="https://placehold.co/300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 6</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/600x300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 7</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top w-100" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 8</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 9</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x500" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Category 10</h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
</body>
</html>