<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Create a collage of cards that have a picture of a product of that category and a cathphrase and then link to filtered results -->
    <div th:fragment="collage" class="d-flex flex-row justify-content-evenly">
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top w-100" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[0].categoryName]}"></h3>
                            <h5  th:text="${categories[0].categoryName}"></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x500" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[1].categoryName]}"></h3>
                            <h5  th:text="${categories[1].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[2].categoryName]}"></h3>
                            <h5  th:text="${categories[2].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/600x300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[3].categoryName]}"></h3>
                            <h5  th:text="${categories[3].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section class="d-flex gap-1">
                    <div class="card">
                        <img src="https://placehold.co/300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[4].categoryName]}"></h3>
                            <h5  th:text="${categories[4].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                   
                    <div class="card">
                        <img src="https://placehold.co/300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[5].categoryName]}"></h3>
                            <h5  th:text="${categories[5].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/600x300" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[6].categoryName]}"></h3>
                            <h5  th:text="${categories[6].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="mh-50">
            <div class="h-100 d-flex flex-column gap-4">
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top w-100" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[7].categoryName]}"></h3>
                            <h5  th:text="${categories[7].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x200" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[8].categoryName]}"></h3>
                            <h5  th:text="${categories[8].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card">
                        <img src="https://placehold.co/300x500" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h3 class="card-title" th:text="${categoryCatchphrase[categories[9].categoryName]}"></h3>
                            <h5  th:text="${categories[9].categoryName}" ></h5>
                            <a href="#" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
</body>
</html>