<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Create a carousel of 5 cards each of 15 products -->
        
    <div th:fragment="deals" class="carousel carousel-dark slide m-4" id="dealsCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex flex-row gap-2 justify-content-evenly">
                    <!-- Loop for 5 cards -->
                     <div th:each="i : ${#numbers.sequence(10, 14)}" th:insert="~{fragments/cards :: product_card}" th:with="productName=${deals[i].productName}, sellingPrice=${deals[i].sellingPrice}, maximumRetailPrice=${deals[i].maximumRetailPrice}, productId=${deals[i].productId}, imageUrl=${deals[i].imageUrl}">
                     </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-row gap-2 justify-content-evenly">
                    <!-- Loop for 5 cards -->
                    <div th:each="i : ${#numbers.sequence(5, 9)}" th:insert="~{fragments/cards :: product_card}" th:with="productName=${deals[i].productName}, sellingPrice=${deals[i].sellingPrice}, maximumRetailPrice=${deals[i].maximumRetailPrice}, productId=${deals[i].productId}, imageUrl=${deals[i].imageUrl}">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-row gap-2 justify-content-evenly">
                    <!-- Loop for 5 cards -->
                    <div th:each="i : ${#numbers.sequence(0, 4)}" th:insert="~{fragments/cards :: product_card}" th:with="productName=${deals[i].productName}, sellingPrice=${deals[i].sellingPrice}, maximumRetailPrice=${deals[i].maximumRetailPrice}, productId=${deals[i].productId}, imageUrl=${deals[i].imageUrl}">
                    </div>
                </div>
            </div>
        </div>
        <div data-bs-theme="dark">
            <button style="height: fit-content; width: fit-content;" class="carousel-control-prev align-self-center " type="button" data-bs-target="#dealsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button style="height: fit-content; width: fit-content;" class="carousel-control-next align-self-center" type="button" data-bs-target="#dealsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



</body>
</html>
