<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(title='Cart')}"></head>
<body data-bs-theme="dark">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container mt-5 justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cart</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Added On</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${#lists.isEmpty(cart.products)}">
                                    <td colspan="6" class="text-center">
                                        Your cart is empty! <a href="/" class="btn btn-link">Shop Now</a>
                                    </td>
                                </tr>
                                <tr th:each="cartItem : ${cart.products}">
                                    <td th:text="${cartItem.getLeft().productName}"></td>
                                    <td>
                                        ₹
                                        <span th:text="${cartItem.getLeft().sellingPrice}" class="me-2"></span>
                                        <span class="text-decoration-line-through" th:text="${cartItem.getLeft().maximumRetailPrice}"></span>
                                    </td>
                                    <td>
                                        <form th:action="@{/cart/update}" method="post" th:name="update + ${cartItem.getLeft().productId}">
                                            <input type="number" th:value="${cart.cartId}" name="cartId" class="form-control" hidden>
                                            <input type="number" th:value="${cartItem.getLeft().productId}" name="productId" class="form-control" hidden>
                                            <input type="number" th:value="${cartItem.getMiddle()}" class="form-control" min="1" th:max="${cartItem.getLeft().stockQuantity}" name="quantity" th:id="quantity + ${cartItem.getLeft().productId}">
                                        </form>
                                    </td>
                                    <td th:text="${cartItem.getRight()}"></td>
                                    <td th:text="'₹' + ${(cartItem.getLeft().sellingPrice * cartItem.getMiddle())}"></td>
                                    <td>
                                        <form th:action="@{/cart/remove}" method="post">
                                            <input type="number" th:value="${cart.cartId}" name="cartId" class="form-control" hidden>
                                            <input type="number" th:value="${cartItem.getLeft().productId}" name="productId" class="form-control" hidden>
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <a href="#" id="checkoutButton" class="btn btn-primary">Checkout</a>
                            <span id="total"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Function to calculate the total amount of the cart
        function calculateTotal() {
            const totalCells = document.querySelectorAll('td:nth-child(5)'); // This selects the "Total" column cells
            let sum = 0;
            
            // Sum up all the values in the "Total" column
            totalCells.forEach(t => {
                sum += parseFloat(t.innerText.replace('₹', '')); // Remove dollar sign and parse as number
            });

            // Display the total in the "Total" span
            document.getElementById('total').innerText = "Total: ₹" + sum.toFixed(2);

            // Get the checkout button and update its href with the calculated total amount
            const checkoutButton = document.getElementById('checkoutButton');
            checkoutButton.href = "/checkout?totalAmount=" + sum.toFixed(2) + "&cartId=" + document.querySelector('input[name="cartId"]').value;
        }

        document.querySelectorAll('input[name="quantity"]').forEach(input => {
                                input.addEventListener('change', function() {
                                    const id = input.id.replace('quantity', '');
                                    console.log(id);
                                    if (input.value == '') {
                                        return;
                                    }
                                    document.forms['update' + id].submit();
                                });
                            });

        // Call the calculateTotal function when the page loads
        calculateTotal();
    </script>
</body>
</html>
