<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header(title='Product Details')}"></head>

<body data-bs-theme="dark">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div th:if = "${message}" class="alert alert-info text-center">
        <p th:text="${message}"></p>
    </div>
    <div class="card mb-3 mx-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img th:if="${product.imageUrl == null}" src="/assets/prod.png" class="img-fluid rounded-start w-100" alt="...">
            <img th:if="${product.imageUrl}" th:src="@{|/${product.imageUrl}|}" class="img-fluid rounded-start w-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-evenly gap-2">
              <h5 th:text="${product.productName}" class="card-title text-body-emphasis">Card title</h5>
              <a th:href="@{/category/{id}/products(id=${product.category.categoryId})}" class="card_text text-decoration-none text-body" ><strong>Category:</strong> <span th:text="${product.category.categoryName}">Category</span></a>
              <p class="card-text"><strong>Maximum Retail Price:</strong> ₹<span class="text-decoration-line-through" th:text="${product.maximumRetailPrice}">0.00</span> <span class="text-primary" th:text="${product.sellingPrice}" ></span> </p>
              <p class="card-text text-body-emphasis"><strong>Description:</strong> <span th:text="${product.description}">Description</span></p>
            <!-- Add to Cart button -->
                <form id="addToCartForm" th:action="@{/cart/add}" method="post">
                    <input type="hidden" th:value="${product.productId}" name="productId" />
                    <input type="hidden" th:value="${product.productName}" name="productName" />
                    <input type="hidden" th:value="${product.maximumRetailPrice}" name="productPrice" />
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" class="form-control mb-2" min="1" th:max="${product.stockQuantity}" name="quantity" th:value="${quantity}" required />

                    <button type="submit" class="btn btn-primary">
                      Add to Cart
                      <i class="bi bi-cart"></i>
                    </button>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/headings :: bulletHeading(heading='You may also like')}" class="text-center"></div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-4 gap-4 justify-content-center">
        <div th:each="i : ${#numbers.sequence(0, products.size() - 1)}" th:insert="~{fragments/cards :: product_card}" th:with="productName=${products[i].productName}, sellingPrice=${products[i].sellingPrice}, maximumRetailPrice=${products[i].maximumRetailPrice}, productId=${products[i].productId}, imageUrl=${products[i].imageUrl}"></div>
      </div>


    <script>
      // if quantity is greater than stock quantity, set quantity to stock quantity
      document.getElementById('quantity').addEventListener('input', function() {
        if (parseInt(this.value) > parseInt(this.getAttribute('max'))) {
          this.value = this.getAttribute('max');
        }
      });
    </script>
</body>
</html>
