<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header(title='Product Details')}"></head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="card mb-3 mx-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/prod.png" class="img-fluid rounded-start w-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-evenly gap-2">
              <h5 th:text="${product.productName}" class="card-title">Card title</h5>
              <a th:href="@{/category/{id}/products(id=${product.category.categoryId})}" class="card_text text-decoration-none text-body" ><strong>Category:</strong> <span th:text="${product.category.categoryName}">Category</span></a>
              <p class="card-text"><strong>Maximum Retail Price:</strong> $<span class="text-decoration-line-through" th:text="${product.maximumRetailPrice}">0.00</span> <span class="text-primary" th:text="${product.sellingPrice}" ></span> </p>
                <div class="quantity-selection d-flex gap-4">
                    <label for="quantity">Quantity:</label>
                    <button type="button" class="btn btn-primary text-center" onclick="decreaseQuantity()">-</button>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" />
                    <button type="button" class="btn btn-primary text-center" onclick="increaseQuantity()">+</button>
                </div>
    
            <!-- Add to Cart button -->
                <form id="addToCartForm" th:action="@{/cart/add}" method="post" onsubmit="return false;">
                    <input type="hidden" th:value="${product.productId}" name="productId" />
                    <input type="hidden" th:value="${product.productName}" name="productName" />
                    <input type="hidden" th:value="${product.maximumRetailPrice}" name="productPrice" />
                    <input type="hidden" id="productQuantity" name="productQuantity" value="1" />
                    <button type="submit" class="btn btn-primary" onclick="return false;">Add to Cart</button>
                </form>
            </div>
          </div>
        </div>
      </div>

    <script>
        function increaseQuantity() {
            let quantityInput = document.getElementById('quantity');
            let quantity = parseInt(quantityInput.value);
            quantityInput.value = quantity + 1; // Increment quantity
            document.getElementById('productQuantity').value = quantityInput.value;
        }

        function decreaseQuantity() {
            let quantityInput = document.getElementById('quantity');
            let quantity = parseInt(quantityInput.value);
            if (quantity > 1) {
                quantityInput.value = quantity - 1;
            }
            document.getElementById('productQuantity').value = quantityInput.value;
        }
    </script>
</body>
</html>
