<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header(title='Search')}"></head>
<body data-bs-theme="dark">
    <!-- Results are in 'products'. display cards for each product -->

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1>Search Results</h1>
                </div>
            </div>
        </div>
        <div class="row row-cols-4">
                <div class="my-2" th:each="product : ${products}" th:insert="~{fragments/cards :: product_card}" th:with="productName=${product.productName}, sellingPrice=${product.sellingPrice}, maximumRetailPrice=${product.maximumRetailPrice}, productId=${product.productId}, imageUrl=${product.imageUrl}">
                </div>
        </div>  

    
    
</body>
</html>